h1{
    background-image: url(../img/fondoFrase.jpg);
    margin-top: 10%;
    padding: 3%;
    border-style: double;
    text-align: center ;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
    }
    .fraseprincipal{
        margin-top: 5%;
        background-size: auto;
        min-height: 40vh;
        position: relative;
    }

@media(max-width=768px){
    .fraseprincipal{min-height: 30vh;}
    h1{font-size: calc(1.525rem + 3.3vw);}
}
.subtitulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.frase2{
    background-image: linear-gradient(to right, rgb(100, 18, 18), rgb(161, 138, 103));
    width: 100%;
}
h4{
    padding: 0 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
